.menu {
    position: fixed; /* reste en place lors du défilement */
    top: 0; /* fixe le menu en haut de la page */
    left: 0;
    width: 100vw; /* largeur de la fenêtre */
    height: 100vh; /* hauteur de la fenêtre */
    background: #fff; /* couleur de fond */
    display: grid; /*grille (pour centrer) */
    place-content: center; /*alignement au centre (V et H) */    
    z-index: 10;    
}
.header__menuBtn {
    position: relative; /* pour appliquer z-index */
    z-index: 20; /* pour que bouton soit au dessus du menu */
}
.menu_titles {
    list-style: none;
}
.noscroll,
.noscroll body {
    overflow: hidden;
}