@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playball&family=Voltaire&display=swap');

.menu {
    position: fixed; /* reste en place lors du défilement */
    top: 0; /* fixe le menu en haut de la page */
    left: 0;
    width: 100vw; /* largeur de la fenêtre */
    height: 100vh; /* hauteur de la fenêtre */
    background: #C6AE7F; /* couleur de fond */
    display: grid; /*grille (pour centrer) */
    place-content: center; /*alignement au centre (V et H) */    
    z-index: 10;    
}


.header__menuBtn {
    position: relative; /* pour appliquer z-index */
    z-index: 20; /* pour que bouton soit au dessus du menu */
    margin-top: 0;
    background-color: #C6AE7F;
    scale: 70%;
}
.menu_titles {
    list-style: none;
    font-family: Voltaire;
    font-size: 26px;
    line-height: 300%;
    text-align: center;
}

.menu_link {
    text-decoration: none;
    color: black;
    padding-right: 28px;
}

.logo_menu {
    transform: scale(70%);
}
.noscroll,
.noscroll body {
    overflow: hidden;
}